global-include *.pyx *.c *.h *.ini *.txt *.xml *.html *.TERMS *.tex *.pdf *.css
global-include *.dtd *.asdl *.pwt
recursive-include docs *.*
recursive-include src/setup *.py
global-exclude *.l2h *.toc *.ind *.how *.syn .cvsignore
include scripts/peak
